# Frontend Environment Variables
NEXT_PUBLIC_APP_URL=http://localhost:3000
BACKEND_URL=https://top8-production.up.railway.app

# Neynar API Configuration
NEYNAR_API_KEY=your_neynar_api_key_here

# Neynar Webhook Configuration
NEYNAR_WEBHOOK_SECRET=UuMoOuzbWbXgu00uRWsk3-cOS 