# Neynar API Configuration
NEYNAR_API_KEY=1E58A226-A64C-4CF3-A047-FBED94F36101
NEYNAR_CLIENT_ID=b196e811-4d4a-4adb-bb5a-eb07dbd7765e

# Neynar Webhook Configuration
NEYNAR_WEBHOOK_SECRET=UuMoOuzbWbXgu00uRWsk3-cOS

# Server Configuration
PORT=4000
NODE_ENV=development

# CORS Configuration
CORS_ORIGIN=http://localhost:3000 